<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
    <body>
    	<div class="container" th:fragment="content">
    		<h1>客户信息</h1>
	    	<form action="#" th:action="@{/customer}" th:object="${customer}" method="post">
	    		<label>编号</label>
				<input type="text" th:field="*{id}" />
				<label>姓名</label>
				<input type="text" th:field="*{name}" />
				<label>备注信息</label>
				<input type="text" th:field="*{description}" />
				<button type="submit" name="action" value="add">添加/更新客户</button>
				<button type="submit" name="action" value="delete">删除客户</button>
				<button type="submit" name="action" value="query">查询客户</button>
			</form>
	        <table id='tabledata'>
			    <thead>
			      <tr>
			        <th>编号</th>
			        <th>姓名</th>
			        <th>备注信息</th>
			      </tr>
			    </thead>
			    <tbody>
			    	<tr th:each="c : ${customers}">
				        <td th:text="${{c.id}}"></td>
				        <td th:text="${c.name}"></td>
				        <td th:text="${c.description}"></td>			        	
				     </tr>
				</tbody>
			</table>
		</div>
    </body>
</html>