<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>客户信息</title>
    </head>
    <body>
    	<div th:include="menuFragment"></div>
    	<form action="#" th:action="@{/customer/add}" th:object="${customer}" method="post">
    		<label>姓名</label>
			<input type="text" th:field="*{name}" />
			<label>备注信息</label>
			<input type="text" th:field="*{description}" />
			<button type="submit" name="action" value="addcustomer">添加客户</button>
			<button type="submit" name="action" value="delcustomer">删除客户</button>
		</form>
        <table>
		    <thead>
		      <tr>
		        <th>编号</th>
		        <th>姓名</th>
		        <th>备注信息</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<tr th:each="c : ${customers}">
			        <td th:text="${{c.id}}"></td>
			        <td th:text="${c.name}"></td>
			        <td th:text="${c.description}"></td>			        	
			     </tr>
			</tbody>
		</table>
    </body>
</html>