<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>
	<div class="container" th:fragment="content">
		<div id="CustomerTableContainer" style="width: 99%;"></div>
		<script th:inline="javascript">
			$(document).ready(function() {
				//setup the jtable that will display the results
				$('#CustomerTableContainer').jtable({
					title : '客户信息表',
					selecting : true, //Enable selecting 
					paging : true, //Enable paging
					pageSize : 10, //Set page size (default: 10)
					sorting : true, //Enable sorting
					jqueryuiTheme : true,
					actions : {
						listAction : 'customer/getAll',
						createAction : 'customer/add',
						updateAction : 'customer/update',
						deleteAction : 'customer/remove'
					},
					fields : {
						id : {
							title : '客户编号',
							key : true,
							list : true,
							create : false,
							edit : false
						},
						name : {
							title : '客户姓名',
							width : '15%'
						},
						description : {
							title : '描述信息',
							width : '25%'
						}
					},
					//Register to selectionChanged event to hanlde events                                     
					recordAdded : function(event, data) {
						//after record insertion, reload the records
						$('#CustomerTableContainer').jtable('load');
					},
					recordUpdated : function(event, data) {
						//after record updation, reload the records
						$('#CustomerTableContainer').jtable('load');
					}
				});
				$('#CustomerTableContainer').jtable('load');
			});
		</script>
	</div>
</body>

</html>