<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xmlns:th='http://www.thymeleaf.org'
	xmlns:sec='http://www.thymeleaf.org/thymeleaf-extras-springsecurity3'>

<body>
	<div class='container' th:fragment='content'>

		<div class='filtering'>
			<form>
				<fieldset>
					<legend> 查询条件 </legend>
					<table>
						<tr>
							<td>采购记录编号： <input type='text' name='id' id='id' /> 车辆编号: <input type='text' name='carId' id='carId' /></td>
						</tr>
						<tr>
							<td>员工编号: <input type='text' name='employeeId' id='employeeId' /> 供应商编号: <input type='text'
								name='providerId' id='providerId' /></td>
						</tr>
						<tr>
							<td>开始时间: <input class='date1' name='beginDate' id='beginDate' /> 结束时间: <input class='date1' name='endDate'
								id='endDate' /></td>
						</tr>
						<tr>
							<td colspan="2" align="center"><button type='submit' id='LoadRecordsButton'>查询</button></td>
						</tr>
					</table>
				</fieldset>
			</form>
		</div>

		<div id='PurchaseRecordTableContainer' style='width: 99%;'></div>
		<script th:inline='javascript'>
			function checkDefault(value) {
				if (value == '所有')
					return -1;
				else
					return value;
			}

			function getXHRparams() {
				return {
					"id" : checkDefault($('#id').val()),
					"car.id" : checkDefault($('#carId').val()),
					"employee.id" : checkDefault($('#employeeId').val()),
					"provider.id" : checkDefault($('#providerId').val()),
					"beginDate" : $('#beginDate').val(),
					"endDate" : $('#endDate').val()
				}
			}

			$(document).ready(function() {
				$.datepicker.setDefaults($.datepicker.regional["zh-CN"]);
				$.datepicker.setDefaults({
					dateFormat : "yy-mm-dd",
					changeMonth : true,
					changeYear : true
				});
				$('.date1').attr('placeholder', '(年-月-日)').datepicker();

				//setup the jtable that will display the results
				$('#PurchaseRecordTableContainer').jtable({
					title : '采购信息表',
					selecting : true, //Enable selecting 
					paging : true, //Enable paging
					pageSize : 10, //Set page size (default: 10)
					sorting : true, //Enable sorting
					jqueryuiTheme : true,
					actions : {
						listAction : 'purchaseRecord/getAll',
						createAction : 'purchaseRecord/add',
						updateAction : 'purchaseRecord/update',
						deleteAction : 'purchaseRecord/remove'
					},
					fields : {
						id : {
							title : '编号',
							key : true,
							list : true,
							create : false,
							edit : false
						},
						carId : {
							title : '车辆编号',
							width : '100%'
						},
						carName : {
							title : '车辆名称',
							width : '100%'
						},
						employeeId : {
							title : '员工编号',
							width : '100%'
						},
						employeeName : {
							title : '员工姓名',
							width : '100%'
						},
						providerId : {
							title : '供应商编号',
							width : '100%'
						},
						providerName : {
							title : '供应商名称',
							width : '100%'
						},
						beginDate : {
							title : '开始时间',
							type : 'date',
							displayFormat : 'yy-mm-dd',
							width : '100%'
						},
						endDate : {
							title : '结束时间',
							type : 'date',
							displayFormat : 'yy-mm-dd',
							width : '100%'
						},
						description : {
							title : '描述',
							width : '100%'
						},
						price : {
							title : '价格',
							width : '100%'
						}
					},
					//Register to selectionChanged event to hanlde events                                     
					recordAdded : function(event, data) {
						//after record insertion, reload the records
						$('#PurchaseRecordTableContainer').jtable('load', getXHRparams());
					},
					recordUpdated : function(event, data) {
						//after record updation, reload the records
						$('#PurchaseRecordTableContainer').jtable('load', getXHRparams());
					}
				});

				//Re-load records when user click 'load records' button.
				$('#LoadRecordsButton').click(function(e) {
					e.preventDefault();
					$('#PurchaseRecordTableContainer').jtable('load', getXHRparams());
				});

				if ($('#id').val() == "") {
					$('#id').val('所有');
				}
				if ($('#carId').val() == "") {
					$('#carId').val('所有');
				}
				if ($('#employeeId').val() == "") {
					$('#employeeId').val('所有');
				}
				if ($('#providerId').val() == "") {
					$('#providerId').val('所有');
				}
				if ($('#beginDate').val() == "") {
					$('#beginDate').val(new Date().getFullYear() + '-01-01');
				}
				if ($('#endDate').val() == "") {
					$('#endDate').val(new Date().getFullYear() + '-12-31');
				}

				//Load all records when page is first shown
				$('#LoadRecordsButton').click();
			});
		</script>
	</div>
</body>

</html>