<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>采购信息</title>
    </head>
    <body>
    	<div class="container" th:fragment="content">
    		<div id="content_crud">
    			<h1>采购信息</h1>
		    	<form action="#" th:action="@{/purchaseRecord}" th:object="${purchaseRecord}" method="post">
		    		<p>
		    			<label>采购单编号</label>
						<input type="text" th:field="*{id}" />
			    		<label>车辆编号</label>
						<input type="text" th:field="*{car.id}" />
						<label>供应商编号</label>
						<input type="text" th:field="*{customer.id}" />
						<label>员工编号</label>
						<input type="text" th:field="*{employee.id}" />
					</p>
					<p>
						<label>开始时间</label>
						<input type="date" th:field="*{beginDate}" />
						<label>结束时间</label>
						<input type="date" th:field="*{endDate}" />
						<label>价格</label>
						<input type="text" th:field="*{price}" />
					</p>
					<p>
						<label>备注信息</label>
						<input type="text" th:field="*{description}" />
					</p>
					<button type="submit" name="action" value="add">添加/更新采购记录</button>
					<button type="submit" name="action" value="delete">删除采购记录</button>
					<button type="submit" name="action" value="query">查询采购记录</button>
				</form>
    		</div>
    		
    		<div id="#content_table">
    			<table id='tabledata'>
				    <thead>
				      <tr>
				        <th>编号</th>
				        <th>车辆编号</th>
				        <th>车辆型号</th>
				        <th>员工编号</th>
				        <th>员工姓名</th>
				        <th>供应商编号</th>
				        <th>供应商名称</th>
				        <th>开始时间</th>
				        <th>结束时间</th>
				        <th>备注信息</th>
				        <th>价格</th>
				      </tr>
				    </thead>
				    <tbody>
				    	<tr th:each="e : ${purchaseRecords}">
					        <td th:text="${{e.id}}"></td>
					        <td th:text="${e.car.id}"></td>
					        <td th:text="${e.car.name}"></td>
					        <td th:text="${e.employee.id}"></td>
					        <td th:text="${e.employee.name}"></td>
					        <td th:text="${e.customer.id}"></td>
					        <td th:text="${e.customer.name}"></td>
					        <td th:text="${e.beginDate}"></td>
					        <td th:text="${e.endDate}"></td>
					        <td th:text="${e.description}"></td>	
					        <td th:text="${'$' + e.price}"></td>			        	
					     </tr>
					</tbody>
				</table>
    		</div>
    		
		</div>
    </body>
</html>