<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>
	<div class="container" th:fragment="content">
		<div id="SalesRecordTableContainer" style="width: 99%;"></div>
		<script th:inline="javascript">
			$(document).ready(function() {
				//setup the jtable that will display the results
				$('#SalesRecordTableContainer').jtable({
					title : '销售信息表',
					selecting : true, //Enable selecting 
					paging : true, //Enable paging
					pageSize : 10, //Set page size (default: 10)
					sorting : true, //Enable sorting
					jqueryuiTheme: true,
					actions : {
						listAction : 'salesRecord/getAll',
						createAction : 'salesRecord/add',
						updateAction : 'salesRecord/update',
						deleteAction : 'salesRecord/remove'
					},
					fields : {
						id : {
							title : '编号',
							key : true,
							list : true,
							create : false,
							edit : false
						},
						carId : {
							title : '车辆编号',
							width : '5%'
						},
						carName : {
							title : '车辆名称',
							width : '10%'
						},
						employeeId : {
							title : '员工编号',
							width : '5%'
						},
						employeeName : {
							title : '员工姓名',
							width : '5%'
						},
						customerId : {
							title : '客户编号',
							width : '5%'
						},
						customerName : {
							title : '客户名称',
							width : '10%'
						},
						beginDate : {
							title : '开始时间',
							displayFormat: 'yyyy-mm-dd',
							width : '20%'
						},
						endDate : {
							title : '结束时间',
							displayFormat: 'yyyy-mm-dd',
							width : '20%'
						},
						description : {
							title : '描述',
							width : '30%'
						},
						price : {
							title : '价格',
							width : '10%'
						}
					},
					//Register to selectionChanged event to hanlde events                                     
					recordAdded : function(event, data) {
						//after record insertion, reload the records
						$('#SalesRecordTableContainer').jtable('load');
					},
					recordUpdated : function(event, data) {
						//after record updation, reload the records
						$('#SalesRecordTableContainer').jtable('load');
					}
				});
				$('#SalesRecordTableContainer').jtable('load');
			});
		</script>
	</div>
</body>

</html>